body {
    background-color: rgb(153, 176, 168);
    border-style: dashed;
    border-radius: 10%;
}

p {
    margin: 2em;
    padding: 1em;
    text-align: center;
    background-color: rgb(138, 159, 159);
    border-radius: 1em;
    margin: auto;
}

h1 {
    background-color: rgb(110, 127, 127);
    text-align: center;
    font-family: cursive;
    text-decoration: overline;
    border-color: black;
    border-radius: 5em;
    border-style: outset;
    color: rgb(1, 43, 48);
    box-shadow: inset;
}

.inner-body {
    margin: 8%;
}

#sictc-logo {
    display: flexbox;
}
